[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.0.1"
transformers = "==4.33.0"
sentence-transformers = "==2.2.2"
faiss-cpu = "==1.7.4"
flask = "==2.3.2"
python-dotenv = "==1.0.0"
bitsandbytes = "==0.39.0"
numpy = "==1.24.2"
gunicorn = "==21.2.0"
pandas = "==1.5.3"
tqdm = "==4.64.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
